#
language:
    - java

#services:
#  - docker

jdk:
    - openjdk13
#    - oraclejdk7

#env:
#   -  ciserver=true

#before_install:DskipTests
#   - rm -f ~/bookdb.*
#   - mvn -Pciserver clean 

#install:
#   - mvn -Pciserver install -DskipTests=true -Dmaven.javadoc.skip=true -B -V 

#before_script:
#   - mvn -Pciserver test -B

script:
   - ./mvnw clean install

after_script:
  -  cd src/test/resources/flat-project; ./test.sh
